.Nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    background-color: black;
    color: #66FCF1;
    height: 60px;
    padding: 0px 10px;
}
.Login{
    font-family: 'Open Sans';
    color: #66FCF1;
    font-size: 52px;
    font-weight:bold;
    background-color: black;
    height: 100%;
    border: none;
    margin: -20px;
}
.AccountImg{
    height: 50px;
    transition: transform 0.5s ease;
}
.AccountImg:hover{
    transform: scale(1.1);
    transform-origin: center;
}
a, a:visited, a:hover, a:active {
    color: #66FCF1; /* Replace #000000 with your desired color */
    text-decoration: none;
  }